
body {
	background-color: #f4f4f4
}


.section {
  padding: 10px;
}

.modal-narrow { 
	width: 330px; 
}

.classroom .section-testimonials .carousel-control {
  left: -70px;
}
.classroom .section-testimonials .carousel-control .fa {
  top: 40%;
}
.classroom .section-testimonials .carousel-control.right {
  right: -70px;
  left: auto;
}

.classroom .carousel-indicators {
  bottom: 0;
}
.classroom .carousel-indicators li {
  margin: 1px 10px;
  border-color: #00bbff;
}
.classroom .carousel-indicators .active {
  background-color: #00bbff;
}
.classroom .carousel-inner > .item > img,
.classroom .carousel-inner > .item > a > img {
  display: block;
  margin: 0 auto;
  height: auto;
  border-radius: 0px;
}
.classroom .carousel.fade {
  opacity: 1;
}
.classroom .carousel.fade .item {
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  z-index: 1;
}
.classroom .carousel.fade .item:first-child {
  top: auto;
  position: relative;
}
.classroom .carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index: 2;
}

/*
.image-shadow {
	box-shadow: 2px 2px 3px #aaa;
}

.section-title {
  font-weight: 300;
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCCCCC;
  color: #999;
}

.section-sub-title {
  font-style: italic;
}

.section-faq {
  padding: 50px 0;
}
.section-faq .section-title {
  margin-bottom: 30px;
}
.section-faq .row {
  margin-bottom: 30px;
}


.parallax {
  width: 100%;
  height: 570px;
  overflow: hidden;
  display: block;
}

.parallax .small-info {
  color: #FFFFFF;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.27);
  top: 37%;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.parallax .small-info h3 {
  max-width: 790px;
  margin: 0 auto;
  line-height: 1.4;
}

.parallax .parallax-image img {
  width: 100%;
  position: relative;
}


.big-map {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}

.big-info {
  margin-bottom: 60px;
}

.filter-black {
  position: relative;
}

.filter-black:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.66);
  content: "";
}

.section-blog .card-background .image {
  height: 440px;
}

.about-us .container, .contact-us .container, .pricing .container, .blog-page .container, .ecommerce .container, .home .container, .product-page .container, .blog-post .container {
  max-width: 970px;
}

@media (max-width: 768px) {
  .parallax .parallax-image {
    width: 100%;
    height: 570px;
    overflow: hidden;
  }

  .parallax .parallax-image img {
    height: 100%;
    width: auto;
  }

  .parallax .small-info {
    text-shadow: 0 0 10px black;
    padding: 5px;
    font-size: 20px !important;
  }

}
.about-us .team-presentation {
  margin: 30px 0;
}
.about-us .clients-presentation {
  margin: 30px 0;
}
.about-us .card-user {
  margin: 70px 0px 0;
}
.about-us .hr-small {
  margin: 15px 0;
}
.about-us .copyright a {
  color: #FFFFFF;
}
.about-us .info .icon {
  background: transparent;
}
.about-us .icon [class*="pe-"] {
  color: #CCCCCC;
  font-size: 74px;
}

.contact-us .navbar-transparent {
  background-color: rgba(0, 0, 0, 0.55);
  padding: 0;
}
.contact-us .parallax {
  height: 500px;
}
.contact-us .contact-info p {
  font-size: 15px;
}
.contact-us .company-description {
  position: absolute;
  right: 0;
  top: 220px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
  padding: 20px 60px 20px 20px;
  border-radius: 6px 0 0 6px;
  color: #FFFFFF;
}
.contact-us .company-description h4 {
  margin: 0;
}

.blog-page .card {
  margin-bottom: 60px;
}
.blog-page .section-title {
  margin-bottom: 40px;
}


.ecommerce .section {
  padding: 10px 0;
}
.ecommerce .section-title {
  margin-bottom: 30px;
}
.ecommerce .footer-default {
  border-top: 1px solid #e5e5e5;
}

.home .section-features-1 .info .icon {
  background: transparent;
}
.home .section-features-1 .icon i {
  color: #2ca8ff;
  font-size: 80px;
}
.home .section-features-1 .icon [class*="pe-7s-"] {
  width: auto;
  height: auto;
}
.home .section-features-2 .info .icon {
  margin-bottom: 10px;
}
.home .section-description h5 {
  margin-top: 40px;
}
.home .img-container {
  border-radius: 10px;
  overflow: hidden;
}
.home .img-container img {
  width: 100%;
}
.home .section-clients {
  padding: 50px 0;
}
.home .section-clients .info .icon {
  background: transparent;
}
.home .section-clients .icon i {
  color: #AAAAAA;
}
.home .section-clients h3 {
  margin-top: 10px;
}
.home .social-line {
  border-bottom: 1px solid #dddddd;
}


.product-page .tab-content {
  overflow: hidden;
  width: 100%;
  height: auto;
  border-radius: 6px;
}
.product-page .tab-content img {
  width: 100%;
  height: auto;
}
.product-page .nav-text {
  margin: 10px 0 10px 0;
  text-align: center;
}
.product-page .nav-text > li > a {
  width: 50%;
  height: auto;
  margin: 0 auto;
}
.product-page .nav-text > li > a img {
  width: 100%;
  height: auto;
  text-align: center;
  border-radius: 4px;
}
.product-page .product-details {
  margin: 0 15px 15px;
}
.product-page .product-details .title {
  margin-top: 0;
  color: #333;
  text-transform: uppercase;
}
.product-page .product-details .title, .product-page .product-details .price {
  font-weight: 500;
}
.product-page .actions {
  margin: 15px;
}
.product-page .container-border {
  border-top: 1px solid #DDDDDD;
}
.product-page .container-border .title {
  color: #333;
  text-align: center;
}
.product-page .container-border .title h4 {
  font-weight: 500;
  margin-bottom: 0;
}
.product-page .container-border .title p {
  margin-bottom: 50px;
}
.product-page .viewed {
  margin-top: 30px;
}

.blog-post .parallax {
  height: 475px;
}
.blog-post .title-blog {
  text-align: left;
  margin: 30px 0 15px;
}
.blog-post .media-author .media-heading {
  margin: 5px 0;
}
.blog-post .media-author p {
  margin-bottom: 20px;
}
.blog-post .bottom-border {
  border-bottom: 1px solid #DDDDDD;
}
.blog-post .top-border {
  border-top: 1px solid #DDDDDD;
}
.blog-post footer h3, .blog-post .container-comments h3 {
  margin: 10px 0 30px;
}



.col-centered {
    float: none;
    margin: 0 auto;
}



.imageright img{
	position:absolute;
	top:0;
	left:0;
	height:600px;
}

.imageleft img{
	position:absolute;
	top:0;
	right:0;
	height:600px;
}
*/
.pull-down {
  position:absolute;
  bottom: 0;
  left: 0;
  height: 2em;
  margin: 1em;
}

.section-gray {
  border-top: 0px solid #DDDDDD;
  border-bottom: 0px solid #DDDDDD;
  background-color: #f4f4f4
}

.space-50 {
  height: 50px;
  display: block;
}

.space-50percent {
  height: 50%;
  display: block;
}

.space {
  height: 100px;
  display: block;
}

.space-200 {
  height: 200px;
  display: block;
}

.space-250 {
  height: 250px;
  display: block;
}

.notification {
  background-color: #FB404B;
  text-align: center;
  min-width: 9px;
  padding: 0 10px;
  height: 9px;
  font-size: 3px;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 9px;
  top: 0px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}

.message-info {
  color: rgb(91, 202, 255);
}

.message-success {
  color: rgb(76, 217, 100);
}

.message-warning {
  color: rgb(255, 149, 0);
}

.message-danger {
  color: rgb(255, 76, 64);
}

.padding-50 {
  padding: 50;
}

.padding-100 {
  padding: 100px;
}

.mb-100 {
  position: absolute;
  bottom: 100px;
}

.container-margin {
	position: relative;

}

.caption {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
    
}

.caption-t-c {
  position: absolute;
  right: 15%;
  top: 0px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.caption-t-l {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.caption-l {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
    z-index: 2;
    
}

.parallax-c {
  width: 100%;
  height: 570px;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.parallax-c-712 {
  width: 100%;
  height: 712px;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.parallax-c-500 {
  width: 100%;
  height: 500px;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.parallax-c-480 {
  width: 100%;
  height: 480px;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.info-left {
  position: absolute;
  text-align: left;
  padding: 100px;
  z-index: 2;
}

.info-center {
  width: 100%;
  position: absolute;
  text-align: center;
  z-index: 2;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #2CA8FF;
  text-align: center;
  background-color: white;
  opacity: 0.8;
}

.parallax-l {
  width: 100%;
  height: 570px;
  background-position: left top;
  background-repeat: no-repeat;
}

.img-center {
	margin-left: auto;
	margin-right: auto;
	display: block;
	
}

.icon-middle {
  position: absolute; top: 15px;
}

#promoClose { 
	position: absolute; 
	top: 0; 
	right: 0; 
	display: block; 
	line-height: 16px; 
	text-align: right; 
	padding: 48px 56px; 
	color: #FFFFFF; 
	z-index: 9992; 
	font-family: sans-serif; 
	font-size: 48px; 
	opacity: 0.6; 
	transition: 0.1s all; 
	text-decoration: none; 
}


.xs-portrait-only {
	display: none;
}

.xs-landscape-only {
	display: none;
}

#promoClose { 
	position: absolute; 
	top: 0; 
	right: 0; 
	display: block; 
	line-height: 16px; 
	text-align: right; 
	padding: 48px 48px; 
	color: #FFFFFF; 
	z-index: 9992; 
	font-family: sans-serif; 
	font-size: 48px; 
	opacity: 1.0; 
	transition: 0.1s all; 
	text-decoration: none; 
}

@media only screen 
and (max-device-width : 736px) 
and (orientation : portrait) {
  .xs-portrait-only {
  	display: block;
  }
  
  #promoClose { 
	position: absolute; 
	top: 0; 
	right: 0; 
	display: block; 
	line-height: 16px; 
	text-align: right; 
	padding: 20px 20px; 
	color: #FFFFFF; 
	z-index: 9992; 
	font-family: sans-serif; 
	font-size: 24px; 
	opacity: 1.0; 
	transition: 0.1s all; 
	text-decoration: none; 
	}
}

@media only screen 
and (max-device-width : 736px) 
and (orientation : landscape) {
  .xs-landscape-only {
  	display: block;
  }
  
  #promoClose { 
	position: absolute; 
	top: 0; 
	right: 0; 
	display: block; 
	line-height: 16px; 
	text-align: right; 
	padding: 20px 20px; 
	color: #FFFFFF; 
	z-index: 9992; 
	font-family: sans-serif; 
	font-size: 24px; 
	opacity: 1.0; 
	transition: 0.1s all; 
	text-decoration: none; 
	}
}

