{% load i18n %}
<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
        <li>
           <a href="#">
                <i class="pe-7s-science"></i>
                <p>教学模式</p>
            </a>
        </li>
        <li>
           <a href="#" >
                <i class="pe-7s-study"></i>
                <p>课程介绍</p>
            </a>
        </li>
        <li>
           <a href="#" >
                <i class="pe-7s-study"></i>
                <p>师资力量</p>
            </a>
        </li>
        <li>
           <a href="#" >
                <i class="pe-7s-credit"></i>
                <p>收费模式</p>
            </a>
        </li>
        <li>
           <a href="/account/loginhtml/" >
                <i class="pe-7s-home"></i>
                <p>登录</p>
            </a>
        </li>
        <li>
           <a href="/account/signup/" >
                <i class="pe-7s-user"></i>
                <p>注册</p>
            </a>
        </li>
   </ul>
</div>